.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.swap-proceed-container {
    border: solid green 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ticket-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: rgb(180, 185, 189);
}

.ticket-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    height: 50px;
    width: 140px;
    border-radius: 10%;
    margin-left: 1%;
    margin-top: 5%;
    background-color: #2c3968;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-family: Arial black;
    /* color: black; */
}
.button:hover {
    background-color: rgb(231, 219, 219);
    color: rgb(26, 71, 135);
}

/* .main-ticket {
    position: relative;
    background: #fff;
    width: 300px;
    margin: 30px auto;
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
    padding: 3%;
} */
.main-ticket:after,
.main-ticket:before {
    content: "";
    position: absolute;
    left: auto;
    background: none;
    z-index: -1;
}
.main-ticket:after {
    width: 90%;
    height: 10px;
    top: 30px;
    right: 8px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-box-shadow: 0px -20px 36px 5px #295d92;
    -moz-box-shadow: 0px -20px 36px 5px #295d92;
    box-shadow: 0px -25px 35px 0px rgba(0, 0, 0, 0.5);
}

.main-ticket:before {
    width: 10px;
    height: 95%;
    top: 5px;
    right: 18px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-box-shadow: 20px 0px 25px 5px #295d92;
    -moz-box-shadow: 20px 0px 25px 5px #295d92;
    box-shadow: 22px 0px 35px 0px rgba(0, 0, 0, 0.5);
}
/*  */
/*  */
.locked-ticket {
    position: relative;
    background: rgb(58, 216, 6);
    width: 300px;
    margin: 30px auto;
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
    padding: 3%;
}
.locked-ticket:after,
.locked-ticket:before {
    content: "";
    position: absolute;
    left: auto;
    background: none;
    z-index: -1;
}
.locked-ticket:after {
    width: 90%;
    height: 10px;
    top: 30px;
    right: 8px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-box-shadow: 0px -20px 36px 5px #295d92;
    -moz-box-shadow: 0px -20px 36px 5px #295d92;
    box-shadow: 0px -25px 35px 0px rgba(0, 0, 0, 0.5);
}

.locked-ticket:before {
    width: 10px;
    height: 95%;
    top: 5px;
    right: 18px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-box-shadow: 20px 0px 25px 5px #295d92;
    -moz-box-shadow: 20px 0px 25px 5px #295d92;
    box-shadow: 22px 0px 35px 0px rgba(0, 0, 0, 0.5);
}
.success-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
